In [ ]:
import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
data = pd.read_csv(url)

# Display the first few rows of the dataset
print(data.head())

# Display the column names
print("Columns:", data.columns)

# Display the number of rows and columns
print("Shape of dataset:", data.shape)

In [ ]:
import pandas as pd

# Load the dataset if you haven't already
data = pd.read_csv('path_to_your_downloaded_file/villagers.csv')

# Get the dimensions of the dataset
print("Shape of dataset:", data.shape)

In [ ]:
import pandas as pd

# Load the dataset
data = pd.read_csv('path_to_your_downloaded_file/villagers.csv')

# Get descriptive statistics for numeric columns
print(data.describe())

In [ ]:
import pandas as pd

# Load the dataset
data = pd.read_csv('path_to_your_downloaded_file/villagers.csv')

# Replace 'column_name' with the actual name of a categorical column in your dataset
print(data['column_name'].value_counts())

In [ ]:
import pandas as pd

# Load the dataset
data = pd.read_csv('path_to_your_downloaded_file/villagers.csv')

# Get descriptive statistics for numeric columns
print(data.describe())

# Get value counts for a categorical column
print(data['species'].value_counts())

In [ ]:
import pandas as pd

# Load the dataset
data = pd.read_csv('path_to_your_downloaded_file/villagers.csv')

# Get descriptive statistics for all columns, including categorical ones
print(data.describe(include='all'))

In [ ]:
import pandas as pd

# Load the dataset
data = pd.read_csv('path_to_your_downloaded_file/villagers.csv')

# Print the column names
print(data.columns)

In [ ]:
import pandas as pd

# Load the dataset
data = pd.read_csv('path_to_your_downloaded_file/villagers.csv')

# Print the shape of the dataset
print("Shape of dataset:", data.shape)

In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv('path_to_your_downloaded_file/villagers.csv')

# Access an attribute
print(df.shape)  # Outputs something like (100, 10)

In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv('path_to_your_downloaded_file/villagers.csv')

# Call a method
print(df.describe())  # Outputs summary statistics for numeric columns

In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv('path_to_your_downloaded_file/villagers.csv')

# Remove rows with any missing values
df_cleaned_rows = df.dropna()

In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv('path_to_your_downloaded_file/villagers.csv')

# Remove columns with any missing values
df_cleaned_columns = df.dropna(axis=1)

In [ ]:
import pandas as pd

# Load the dataset
df = pd.read_csv('path_to_your_downloaded_file/villagers.csv')

# Remove rows where specific columns have missing values
df_cleaned_specific = df.dropna(subset=['column1', 'column2'])

In [ ]:
import pandas as pd

# Example DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, None, 30, 45],
    'Salary': [50000, 60000, None, 70000]
}

df = pd.DataFrame(data)

# Remove rows with any missing values
df_cleaned_rows = df.dropna()

In [ ]:
import pandas as pd

# Example DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, None, 30, 45],
    'Salary': [50000, None, None, 70000],
    'Department': [None, 'HR', 'IT', None]
}

df = pd.DataFrame(data)

# Remove the 'Department' column
del df['Department']

In [ ]:
import pandas as pd

# Example DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, None, 30, 45],
    'Salary': [50000, None, None, 70000],
    'Department': [None, 'HR', 'IT', None]
}

df = pd.DataFrame(data)

# Remove the 'Department' column first
del df['Department']

# Now drop rows with any missing values in the remaining columns
df_cleaned = df.dropna()

In [ ]:
  Name   Age   Salary Department
0  Alice  25.0  50000.0       NaN
1    Bob   NaN  60000.0         HR
2 Charlie 30.0      NaN         IT
3  David  45.0  70000.0       NaN

In [ ]:
  Name   Age   Salary
0  Alice  25.0  50000.0
1    Bob   NaN  60000.0
2 Charlie 30.0      NaN
3  David  45.0  70000.0

In [ ]:
  Name   Age   Salary
0  Alice  25.0  50000.0
3  David  45.0  70000.0

In [ ]:
import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

In [ ]:
# Display the first few rows
print(df.head())

# Display column names and data types
print(df.info())

# Display summary statistics for numeric columns
print(df.describe())

In [ ]:
# Check for missing values in each column
print(df.isna().sum())

In [ ]:
# Remove rows with any missing values
df_cleaned_rows = df.dropna()

# Remove columns with any missing values
df_cleaned_columns = df.dropna(axis=1)

# Remove rows with missing values in specific columns
df_cleaned_specific = df.dropna(subset=['age', 'embarked'])

In [1]:
# Get value counts for a categorical column
print(df['embarked'].value_counts())

# Get descriptive statistics for a numeric column
print(df['age'].describe())

NameError: name 'df' is not defined